body{ 
    background-color:#07202A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:20px;
    margin-right:20px;
}

.container{
    background-color:#B51200;
    padding:20px;
}

header{
    background-color:#07202A;
    display:flex;
    align-items:center;
    padding:20px;

}

header img{
    height:60px;
    transition:0.15s;
}

header img:hover,
header img:focus{
    height:66px;
    cursor:pointer;
}

header img:active{
    color-scheme:#B51200;
    filter:brightness(0.2);
}

h1{
    font-size:46px;
    margin:0 auto;
    padding-left:40px;
    padding-right:40px;
    color:white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

h2{
    padding:0 0 0 10px;
    text-align:center;
    font-weight:bold
}

.box img{
    height:140px;
    width:140px;
}

.box-bottom{
    display:flex;
    flex-direction: column;
    justify-content:right;
    align-items:right;

}

.box-bottom button{
    background-color:#07202A;
    text-decoration:none;
    color:white;
    font-size:20px;
    background-color:#000000;
    border:none;
    transition:0.15s;
    width:100px;
    align-items:right;
    justify-content:right;

}

.box-bottom button:hover,
.box-bottom button:focus{
    cursor:pointer;
    background-color:#B51200;
}

.box-bottom button:active{
    background-color: black;
}

.img-n-name dl{
    text-align:right;
    padding:0 0 0 20px;
}

.box p{
    padding:10px 0 10px 0;
    text-wrap:wrap;
    width:200px;
}

.box{
    height:220px;
    margin:0 auto;
    padding:20px;
    font-size:16px;
    display:flex;
    flex-direction:column;
    background-color:#D2F7FF;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 35px 100%, 0 220px);
    margin-bottom:20px;
    transition:0.15s;
    max-width:400px;
}

.box:hover,
.box:focus{
    cursor:pointer;
    padding:28px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 45px 100%, 0 230px);
}

.box:active{
    background-color:rgb(157, 195, 202);
}

.img-n-name{
    display:flex;
}

footer{
    color:white;
    background-color: #B51200;
    text-align:center;
    padding-bottom:40px;
    text-decoration:underline;
}

footer button{
    background-color:transparent;
    border:none;
    color:white;
    font-size:20px;
    text-decoration:underline;
    transition:0.15s;
}

footer button:hover,
footer button:focus{
    font-size:22px;
    cursor:pointer;
}

footer button:active{
    color:#07202A;

}

@media screen and (min-width: 858px) {

    .container{
        margin:0 auto;
        padding-left:20px;
        padding-right:20px;
        justify-content:center;
        display:flex;
        flex-wrap:wrap;
        transition:0.15s;
    }
    .box{
        box-sizing:content-box;
        width:320px;
        height:200px;
        margin-left:10px;
        margin-right:10px;
        padding:20px;
        transition:0.15s;
    }

    .box:hover,
    .box:focus{
        padding:20px;
        margin:10px;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 45px 100%, 0 210px);
    }

    h1{
        font-size:60px;
  }





